<div class="row">
    <div class="col-12">
        <h2 class="tm-page-title mb-4">About this page</h2>
        <div class="mb-5">
            <h3 class="mb-5">Aplikacja Angular korzystająca z API YouTube</h3>
            <h3 class="mb-5">Plan rozwoju (TODO list):</h3>
            <ol>
                <li>Widok pojedynczego filmu</li>
                <li>Możliwość dodania filmu do ulubionych</li>
                <li>Wyświetlanie listingu filmów według tagu</li>
                <li>Możliwość dodawania komentarzy do filmu (logowanie kontem Google) - storage w Firebase</li>
                <li>Możliwość tworzenia własnych katalogów filmów (playlisty)</li>
            </ol>
        </div>        
    </div>
</div>