<div class="container">
    <div class="row">
      <div class="col-12">
          <div *ngIf="player">
            <h1 class="page-title">{{ player.first_name }} {{ player.last_name }}</h1>
          

  <div class="playerIntroBox align-items-center col-12">
        <div class="row playerInfo">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-md-4">
                <img
                  src="./assets/players-img/small/{{ player.id }}-{{ player.first_name }}-{{ player.last_name }}.png"
                  class="img-responsive"
                />
              </div>
              <div class="col-8">
                <div class="row">
                  <div class="col-12">
                    Drużyna: <b><a routerLink="/teams/{{ player.team.id }}">{{ player.team.full_name }}</a></b>
                  </div>
                  <div class="col-12">
                    Pozycja: <b>{{ player.position }}</b>
                  </div>
                  <div class="col-12">
                    Wzrost:
                    <b
                      >{{ player.height_feet }} ft {{
                        player.height_inches }} in</b
                    >
                  </div>
                </div>    
              </div>                      
            </div>
            <div class="row playerInfo">
              <div class="col-12">
                <app-player-stats></app-player-stats>
              </div>
                                   
            </div>
          </div>
        </div>

         <!-- {{ player.id }} -->
  </div >

  <div *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>
</div>
    </div>
  </div>
</div>