<div class="container home">
    <div class="row">
        <h2 class="homepageHeade mx-auto d-block">TEAMS</h2>
      <div class="col-12">
        <div *ngIf="teams?.length; else emptyBlock" class="row">
          <ng-container *ngFor="let team of teams">
            <div class="teamBox col-4">
                    <a routerLink="/teams/{{ team.id }}"><img src="/assets/teams-logo/png/{{ team.abbreviation }}.png" alt="{{ team.name }}" class="img-responsive mx-auto d-block"></a>
            </div>
          </ng-container>
        </div>        
        <ng-template #emptyBlock>
          
        </ng-template>
      </div>
    </div>
  </div>
  