<div class="container">
  <div class="row">
    <div class="col-12">
      <ul *ngIf="teams?.length; else emptyBlock">
        <ng-container *ngFor="let team of teams">
          <div class="teamBox">
            <div class="row d-flex align-items-center">
                <div class="col-12 col-md-4">
                <img src="/assets/teams-logo/png/{{ team.abbreviation }}.png" alt="{{ team.name }}"></div>
                <div class="col-12 col-md-6">
                  <h2>{{ team.full_name }}</h2>
                  <div class="row d-flex">
                  <div class="col-6">Miasto:</div>
                  <div class="col-6"><h3>{{ team.city }}</h3></div>
                  </div>
                  <div class="row">
                  <div class="col-6">Konferencja:</div>
                  <div class="col-6"><h3>{{ team.conference }}</h3></div>
                  </div>
                  <div class="row">
                  <div class="col-6">Dywizja:</div>
                  <div class="col-6"><h3>{{ team.division }}</h3></div>
                  </div>
                </div>
                <div class="col-12 col-md-2 gameDetailsBox d-flex align-items-center justify-content-center"><a href="https://www.nba.com/teams/{{ team.name | lowercase }}" target="blank" title="NBA - Team Page"><i class="fas fa-info-circle fa-3x"></i></a></div>
            </div>
            <!-- {{ team.abbreviation }} - {{ team.id }} - {{ team.name }} -->
      
          </div>
          <li>
            <a routerLink="/teams/{{ team.id }}">{{ team.name }}</a>
          </li>
        </ng-container>
      </ul>
      
      <ng-template #emptyBlock>
        The list is empty.
      </ng-template>
    </div>
  </div>
</div>
