<nb-layout>

  <nb-layout-header fixed>
  <!-- Insert header here -->
  <div>
    <div>
      <a routerLink="">Home</a>
    </div>
    <br>
    <div>
      <a routerLink="board">Tic tac toe</a>
    </div>
    <div>
      <a routerLink="rps">Rock, paper, scissors</a>
    </div>
    <div>
      <a routerLink="snake">Snake</a>
    </div>
  </div>
  </nb-layout-header>

  <!-- <ng-snake></ng-snake>
  <script src="https://gogakoreli.github.io/angular-snake-web-component/snake-web-component.js"
    type="module">
  </script> -->

  <nb-layout-column>    
    <router-outlet></router-outlet>
  </nb-layout-column>

  <!-- <nb-layout-footer fixed>
  </nb-layout-footer> -->

</nb-layout>
