<nb-layout>

  <nb-layout-header fixed>
    <!-- Insert header here -->

      <div>
        <a routerLink="">Home</a>
      </div>
      
        <div [className]="'right'">
        <div *ngIf="user$ | async as user; else showLogin">
          <button (click)="logout()">
            Log out {{ user.email }}
          </button>
        </div>
        
          <ng-template #showLogin>
            <button (click)="login()" >Sign in with Google</button>
          </ng-template>
        
        </div>
  </nb-layout-header>

  <!-- <ng-snake></ng-snake>
  <script src="https://gogakoreli.github.io/angular-snake-web-component/snake-web-component.js"
    type="module">
  </script> -->
  <nb-sidebar tag="left">
    <div>
      <a routerLink="board">Tic tac toe</a>
    </div>
    <div>
      <a routerLink="rps">Rock, paper, scissors</a>
    </div>
    <div>
      <a routerLink="snake-game">Snake</a>
    </div>
  </nb-sidebar>
  <nb-layout-column>
    Lets play!

    <router-outlet></router-outlet>
  </nb-layout-column>

  <!-- <nb-layout-footer fixed>
  </nb-layout-footer> -->

</nb-layout>