<div *ngIf="show$ | async as show">
    <div class="jumbotron jumbotron-fluid movie__header" [ngStyle]="getBackground(show.backdrop_path)">

        <div class=" container movie__header__heading ">
            <div class=" row">
                <div class="col-12 col-md-5 col-lg-3 px-5 px-md-0 text-center">
                    <img src="{{'https://image.tmdb.org/t/p/w500' + show.poster_path}}"
                        class="card-img-top movie__header__poster" alt="{{show.title}} poster">
                </div>
                <div class="col-12 col-md mt-3 mt-md-0 px-3 px-sm-5 ">
                    <h1 class="display-4 movie__header__heading__title">
                        {{show.name}}
                    </h1>
                    <p class="mb-3">
                        {{getGenres(show.genres)}}

                    </p>
                    <p class="lead">
                        {{show.overview}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="movie container mx-auto">

        <h2>Cast</h2>
        <app-carousel *ngIf="showCast$ | async as showCast" [carouselContext]="showCast.cast" mediaType="person">
        </app-carousel>
        <h2 class="mt-4">Similar</h2>
        <app-carousel *ngIf="similarShows$ | async as similarShows" [carouselContext]="similarShows.results"
            mediaType="tv"></app-carousel>



    </div>
</div>