<div class="current">
  <div class="current__table">
    <h3>Pogoda w Poznaniu teraz:</h3>
    <div id="time">Pomiar: <span class="value">{{ time }}</span></div>
    <div id="sunrise">Wschód słońca: <span class="value">{{ sunrise }}</span></div>
    <div id="sunset">Zachód słońca: <span class="value">{{ sunset }}</span></div>
    <div id="temp">Temperatura: <span class="value">{{ temp }}</span></div>
    <div id="feels_like">Temperatura odczuwalna: <span class="value">{{ feels_like }}</span></div>
    <div id="humidity">Wilgotność: <span class="value">{{ humidity }} %</span></div>
    <div id="pressure">Ciśnienie atmosferyczne: <span class="value">{{ pressure }} hPa</span></div>    
    <div id="description">Opis: <span class="value">{{ description }}</span></div>
    <div id="icon"><img src="{{ icon }}"/></div>  
    <div id="deg">Kierunek wiatru: <span class="value">{{ deg }}</span></div>
    <div id="speed">Prędkość wiatru: <span class="value">{{ speed }} m/s</span></div>      
  </div>
</div>