// 🧑‍🎨 👨‍🎨 👩‍🎨
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../variables';

.configurator-wrapper {
  width: 80%;
  margin: auto;
  margin-top: 40px;
}

.tshirt-wrapper {
  width: 450px;
}

.add-to-basket-form {
  border: 1px solid lightgray;
  padding: 0;
}

form.list-group .list-group-item {
  display: flex;
  justify-content: space-between;
}

#chooseText textarea {
  width: inherit;
}

.zeroAdded::after {
  content: '0';
}

.item-info {
  font-size: 1.5em;
  padding-bottom: 1em;
  margin-top: auto;
}
