<div class="row configurator-wrapper">
  <div class="col-md-5">
    <canvas id="tshirtCanvas" width="500" height="500"></canvas>
  </div>
  <form class="col-md-7 list-group">
    <li class="list-group-item" data-toggle="collapse" href="#colors" role="button" aria-expanded="false"
      aria-controls="colors">
      Choose T-shirt color
    </li>
    <div class="form-group colors collapse px-3 pt-2" id="colors">
      <!-- <div class="form-check"> -->
        <mat-radio-group (change)="onColorSelection($event.value)" name="color" >
          <div>
            <mat-radio-button value="white" color="primary">White</mat-radio-button>
          </div>
          <div>
            <mat-radio-button value="black">Black</mat-radio-button>
          </div>
          <div>
            <mat-radio-button value="blue">Blue</mat-radio-button>
          </div>
        </mat-radio-group>

        <!-- <input class="form-check-input" type="radio" name="color" id="colorWhite" value="#fff" checked> -->
        <!-- <label class="form-check-label" for="colorWhite">
          White
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="color" id="colorBlack" value="#000">
        <label class="form-check-label" for="colorBlack">
          Black
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="color" id="colorBlue" value="#00BFFF">
        <label class="form-check-label" for="colorBlue">
          Blue
        </label> -->
      <!-- </div> -->
    </div>
  </form>
</div>
